@model IEnumerable<MuSe.Web.Data.Entities.Violentometer>

@{
    ViewData["Title"] = "Violentómetro";
}
@*
<link rel="stylesheet" href="~/css/violentometer.css" />*@

<h1>Violentómetro</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-success">Crear acción violenta</a>
    }
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reliability.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if(item.Reliability.Description == "Leve")
            {
                <tr style="background-color: yellow;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reliability.Description)
                    </td>
                    <td>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        }
                    </td>
                </tr>
            }

            @if (item.Reliability.Description == "Intermedia")
            {
                <tr style="background-color: orange;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reliability.Description)
                    </td>
                    <td>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        }
                    </td>
                </tr>
            }
            @if (item.Reliability.Description == "Grave")
            {
                <tr style="background-color: red;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reliability.Description)
                    </td>
                    <td>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
